.banner-section-wrapper {
  height: 590px;
  width: 100%;
  .wrap-banner {
    height: 70%;
    position: relative;
  }
  .banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .banner-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: blur(8px);
      background-repeat: no-repeat;
    }
  }
  .wrap-carousel {
    position: absolute;
    bottom: -100px;
    height: 360px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
  }
  .banner-title {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    color: var(--color-white);
  }
  // DOT in Carousel
  .ant-carousel {
    width: 100%;
    .custom-dot {
      bottom: -8px !important;
      margin: auto !important;
      li {
        button {
          background-color: #99adff !important;
          &::before {
            display: none;
          }
        }
        &.slick-active {
          button {
            background-color: #4d70ff !important;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width:768px) {
  .banner-section-wrapper {
    .wrap-carousel {
      width: 100%;
    }
  }
}
