.novels-section {
  background-color: var(--color-white);
  padding: 40px 0;
  &.gray {
    background-color: var(--color-gray1);
  }
  .novels-section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .novels-section-divider {
    margin: .75rem 0 1.5rem 0;
    border-top-width: 3px;
  }
  .novels-section-title {
    margin: 0;
  }
  .list-novel {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    .novel {
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .novels-section {
    .list-novel {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
@media (max-width: 425px) {
  .novels-section {
    .list-novel {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}