.search-page {
    .submit {
        margin-top: 1rem;
        .btn-common {
            min-width: 6rem;
            justify-content: center;
            margin-right: 1rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    .search-page {
        .submit {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .label {
                display: none;
            }
        }
    }
}