// THEME
:root {
    /* Dark mode variables go here */
    --color-primary: #ff7b0a;
    --color-primary-contrast: #fff;
    --bg-color: #f5f5f5;
    --bg-color1: #ffffff;
    --bg-color2: #f3f3f3;
    --bg-color-header: #323232;
    --text-color-header: #fff;
    --text-color-gray: #6a6b68;
    --text-color: #2a2e2e;
    --color-boxShadow: rgb(0 0 0 / 40%);
    --fade: rgba(255,255,255,.6);
    --color-white:#fff;
    --color-gray: #cecac8;
    --color-gray1: #f3f3f3;
    --color-red: #ffe6e6;
    --color-red1: #ff8989;
    --color-green:#ecf9ec;
    --color-green1:#009933;
    --color-yellow: #fab52b;
    --color-blue: #41b9f6;
    --color-dark: #323232;
    --bg-color-dark-input: #01040c;
    --color-dark-input: #fff;
}
[data-theme='dark'] {
    /* Light mode variables go here */
    --color-primary: #ff7b0a;
    --color-primary-contrast: #fff;
    --bg-color: #121212;
    --bg-color1: #1b1b1b;
    --bg-color2: #202020;
    --text-color: #acacac;
    --color-boxShadow: rgb(255 255 255 / 40%);
    --fade: rgba(27,27,27,.5);
}
