.blog-page {
  padding: 200px 120px 60px 120px;
  background-color: #fafbff;
  .heading {
    font-size: 64px;
    line-height: 66px;
    margin-bottom: 52px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-family: 'DM Serif Display', serif;
  }
  .description {
    font-size: 29px;
    line-height: 36px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 24px;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .external-description {
    font-size: 16px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card-large {
    background-color: #fff;
    display: inline-block;
    color: #000;
    margin-bottom: 29px;

    .block-left {
      padding: 34px 28px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .btn-read-more {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }
  .card-small {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000;
    .card-small-content {
      padding: 25px 32px 58px 32px;
      display: flex;
      flex-direction: column;
    }
    .btn-read-more {
      margin-right: 2px;
    }
  }
}

@media screen and(max-width:1200px) {
  .blog-page {
    .description {
      font-size: 24px;
    }
  }
}
@media screen and(max-width:1024px) {
  .blog-page {
    padding: 200px 25px;
  }
}
@media screen and(max-width:768px) {
  .blog-page {
    padding: 90px 25px;
    .heading {
      font-size: 32px;
    }
    .card-small-row {
      align-items: center;
    }
    .card-small-col {
      margin-top: unset;
    }
  }
}

@media screen and(max-width:576px) {
  .blog-page {
    .img-wrapper {
      span {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
