.success-stories {
  .first-success-section {
    padding-top: 87px;
    .block-top {
      padding-top: 183px;
      padding-left: 90px;
      .heading {
        font-size: 16px;
        font-weight: 500;
        color: #0e0707;
        margin-bottom: 12px;
      }
      .title {
        font-size: 54px;
        line-height: 67px;
        font-family: 'DM Serif Display', serif;
        margin-bottom: 50px;
      }
      .sub-title {
        font-size: 18px;
        font-weight: 500;
        color: #0e0707;
        margin-bottom: 113px;
      }
    }
    .image-wrapper {
      position: relative;
      &::before {
        background-color: rgba(14, 7, 7, 0.2);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
      .box {
        position: absolute;
        padding: 79px 48px 100px 56px;
        background-color: #cf5060;
        bottom: 600px;
        right: 90px;
        z-index: 2;
        width: 38%;
        min-height: 299px;
        color: #fff;
        display: flex;
        align-items: center;
        .box-title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 25px;
        }
        .box-description {
          font-size: 24px;
          line-height: 30px;
          font-family: 'DM Serif Display', serif;
        }
      }
    }
  }
  .second-success-section {
    padding: 111px 90px;
    .title {
      font-size: 54px;
      line-height: 67px;
      font-family: 'DM Serif Display', serif;
      margin-bottom: 50px;
    }
    .sub-title {
      font-size: 18px;
      font-weight: 500;
      color: #0e0707;
    }
  }
  .third-success-section {
    background: url('/img/success-stories/success_2.png') no-repeat;
    background-size: cover;
    min-height: 800px;
    .wrapper {
      padding: 64px 90px;
      .title {
        font-size: 34px;
        line-height: 42px;
        font-family: 'DM Serif Display', serif;
        margin-bottom: 70px;
        color: #fff;
      }
      .card-wrapper {
        margin-bottom: 29px;
      }
      .card-item {
        width: calc(100% * (1 / 5) - 19px);
        background-color: rgba(207, 80, 96, 0.8);
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        padding: 23px 15px;
        margin-right: 19px;
        height: 242px;
        display: flex;
        position: relative;
        z-index: 2;
        &::after {
          background-color: #ed5958cc;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 0;
          bottom: -7px;
          left: -7px;
        }
        .card-text {
          z-index: 2;
          height: 100%;
        }
      }
    }
    .btn-learn-more {
      background: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      font-size: 17px;
      color: #fff;
      font-weight: 500;
      margin-top: auto;
      .icon-arrow {
        margin-left: 18px;
        display: inline-block;
      }
    }
  }
  .fourth-success-section {
    background-color: #f4f6fd;
    padding: 110px 90px 62px 90px;
    .title {
      font-size: 54px;
      line-height: 67px;
      font-family: 'DM Serif Display', serif;
      margin-bottom: 34px;
    }
    .card-item {
      width: calc(100% * (1 / 5) - 19px);
      background-color: #cf5060;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding: 23px 15px;
      margin-right: 19px;
    }
  }
}
@media screen and(max-width:1024px) {
  .success-stories {
    .first-success-section {
      .block-top {
        padding-top: 50px;
        padding-left: 25px;
      }
      .image-wrapper {
        .box {
          padding: 24px;
          right: 25px;
          bottom: 350px;
        }
      }
    }
    .second-success-section {
      padding: 90px 25px;
      .sub-title {
        margin-bottom: 0;
      }
    }
    .third-success-section {
      padding: 90px 25px;
      .wrapper {
        padding: 0;
      }
      .card-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .card-item {
        height: 150px;
        font-size: 16px;
        margin: 0 16px 16px 0;
        padding: 16px;
        height: inherit;
      }
    }
    .fourth-success-section {
      padding: 90px 25px;
      .card-item {
        width: calc(100% * (1 / 4) - 19px);
      }
    }
  }
}
@media screen and(max-width:768px) {
  .success-stories {
    padding-top: 50px;
    .first-success-section {
      padding: 0px 0 150px 0;
      .block-top {
        .title {
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 24px;
        }
        .sub-title {
          margin-bottom: 24px;
        }
      }
      .image-wrapper {
        .box {
          left: 15%;
          top: 70%;
          width: 70%;
          display: flex;
          min-height: 200px;
          flex-direction: column;
          justify-content: center;
          .box-title {
            font-size: 14px;
          }
          .box-description {
            font-size: 16px;
          }
        }
      }
    }
    .second-success-section {
      padding-top: 30px;
      .title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
      }
    }
    .third-success-section {
      .title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
      }
      .card-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0 !important;
      }
      .wrapper {
        .card-item {
          width: 45%;
          font-size: 16px;
          margin: 0 16px 16px 0;
          padding: 16px;
          align-items: center;
        }
      }
    }
    .fourth-success-section {
      .title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
      }
      .card-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .card-item {
        width: 45%;
        height: 150px;
        font-size: 16px;
        margin: 0 16px 16px 0;
        padding: 16px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .success-stories {
    .first-success-section {
      .image-wrapper {
        .box {
          display: block;
          height: fit-content;
          width: 90%;
          left: 5%;
        }
      }
    }
  }
}
