.services-page {
  .first-services-section {
    padding: 100px 0;
    .block-left {
      padding-left: 90px;
      .heading {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: 5px;
        color: #0e0707;
      }
      .title {
        font-size: 54px;
        line-height: 67px;
        font-family: 'DM Serif Display', serif;
        color: #0e0707;
        margin-bottom: 60px;
      }
    }
    .block-right {
      .title {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 7px;
        z-index: 3;
      }
      .sub-title {
        font-family: 'DM Serif Display', serif;
        color: #fff;
        margin-top: auto;
        z-index: 3;
        width: 70%;
        &:hover {
          color: #000;
        }
      }
      .block-right-top,
      .block-right-bottom {
        height: 350px;
        display: flex;
        flex-direction: column;
        padding: 50px 37px;
        color: #fff;
        font-size: 24px;
      }
      .block-right-top {
        background-color: #00b4d1;
      }

      .wrapper-contain {
        background-image: url('/img/services/services_2.png');
        background-size: cover;
        position: relative;
        &::before {
          background-color: rgba(6, 189, 217, 0.32);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
      }
    }
    .image-wrapper {
      margin-top: 67px;
      text-align: center;
    }
  }
  .second-services-section {
    background-color: #f4f6fd;
    padding: 76px 130px;
    .title {
      font-size: 34px;
      padding-bottom: 76px;
      text-align: center;
      font-family: 'DM Serif Display', serif;
    }
    .box {
      background-color: rgba(6, 189, 217, 0.2);
      padding: 65px 36px;
      height: 100%;
      transition: 0.5s all;
      min-height: 317px;
      border-radius: 30px;
      background-color: #00b4d1;
      .box-text {
        color: #fff;
        font-size: 18px;
      }
      &:hover {
        background-color: #00b4d1;
        transition: 0.5s all;
        .box-text {
          color: #fff;
        }
      }
    }
  }
  .third-services-section {
    padding: 170px 0 80px 0;
    background-color: #1f95a8;
    color: #fff;
    text-align: center;
    .title {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 60px;
      font-family: 'DM Serif Display', serif;
    }
    .sub-title {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 60px;
    }
    .btn-submit {
      background-color: transparent !important;
      background: linear-gradient(to right, transparent 50%, #ffd100 50%) !important;
      background-size: 200% 100% !important;
      background-position: left bottom !important;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #fff !important;
      border-color: #fff;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      &:hover {
        background-position: right bottom !important;
        border-color: #ffd100;
      }
    }
  }
  .fourth-services-section {
    padding: 100px 120px 60px 120px;
    background-color: #fafbff;
    .heading {
      font-size: 64px;
      line-height: 66px;
      margin-bottom: 52px;
      font-family: 'DM Serif Display', serif;
      font-weight: 400;
    }
    .title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 12px;
      text-transform: uppercase;
      font-family: 'DM Serif Display', serif;
    }
    .description {
      font-size: 29px;
      line-height: 36px;
      font-family: 'DM Serif Display', serif;
      margin-bottom: 24px;
      flex: 1;
      min-height: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .external-description {
      font-size: 16px;
      font-family: 'DM Serif Display', serif;
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .card-large {
      background-color: #fff;
      display: inline-block;
      color: #000;
      margin-bottom: 29px;

      .block-left {
        padding: 34px 28px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .btn-read-more {
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
    .card-small {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      height: 100%;
      color: #000;
      .card-small-content {
        padding: 25px 32px 58px 32px;
      }
      .btn-read-more {
        margin-right: 2px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .services-page {
    .first-services-section {
      .block-left {
        padding-left: 25px;
      }
    }
    .second-services-section {
      padding: 76px 25px;
    }
    .fourth-services-section {
      padding: 100px 25px;
    }
  }
}
@media screen and(max-width:768px) {
  .services-page {
    .first-services-section {
      .block-left {
        margin-bottom: 16px;
        .title {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
    .third-services-section {
      padding: 45px 25px;
    }
    .fourth-services-section {
      padding: 45px 25px;
      .heading {
        font-size: 32px;
      }
      .card-small-row {
        align-items: center;
      }
      .card-small-col {
        margin-top: unset;
      }
    }
  }
}
@media screen and(max-width:576px) {
  .services-page {
    .second-services-section {
      .box {
        padding: 24px;
        min-height: unset;
      }
    }
    .third-services-section {
      .title {
        font-size: 32px;
        margin-bottom: 16px;
      }
    }
    .fourth-services-section {
      .img-wrapper {
        span {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
