.reading-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg-color-reading-header);
        padding: 1rem;
        z-index: 2;
        .title {
            margin-bottom: 0;
            color: var(--color-white);
        }
        .btn-upload {
            background-color: var(--color-primary);
            color: var(--color-primary-contrast);
            border-radius: $borderRadius;
            border: 0;
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            &:hover {
              background-position: right bottom !important;
              border-color:#FFD100
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            .download {
                font-size: 1.5rem;
                color: var(--color-primary);
                cursor: pointer;
                margin-right: 1rem;
            }
            .dropdown-value {
                border-bottom: 0;
                width: 40px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .wrap-reading {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .reading-content {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color-reading);
        padding: 1rem 0;
        flex: 1;
        min-height: 0;
    }
    .reading-pagination {
        padding-left: 0;
        display: flex;
        background-color: var(--bg-color-reading-content);
        border-radius: $borderRadius;
        .reading-pagination-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: .5rem;
            cursor: pointer;
        }
        .pagination-divider {
            display: inline-block;
            margin: .5rem auto;
            border-right: 2px solid var(--color-gray);
        }
    }
    .reading {
        background-color: var(--bg-color-reading-content);
        border-radius: $borderRadius;
        padding: 2rem;
        flex: 1;
    }
    .loading{
        align-content: center;
    }
    .aside-actions {
        position: fixed;
        top: 0;
        right: 0;
        width: auto;
        height: 100vh;
        background-color: var(--bg-color-reading-header);
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 52px;
        .list-action {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            li {
                display: flex;
                cursor: pointer;
                padding: 1rem;
                span {
                    font-size: 1.2rem;
                    color: var(--color-white);
                }
                &:hover {
                    background-color:hsla(0, 0%, 100%, .1);
                    span {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .aside-content {
        position: fixed;
        right: 52px;
        top: 0;
        width: 350px;
        height: 100vh;
        overflow: auto;
        transition: .15s ease-in-out;
        background-color: var(--bg-color-aside);
        padding: 1rem .5rem;
        transform: translateX(350px);
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        &.active {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
}