.footer {
  background-color: var(--bg-color-header);
  color: #fff;
  margin-top: auto;
  padding: 2rem 0;
  li {
    a {
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    opacity: .75;
    font-size: .9rem;
  }
}
@media screen and (max-width: 768px) {}
