@import '~antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.css';


@import './themes/Theme.scss';
@import './themes/variables.scss';
@import './header.scss';
@import './sidebar.scss';
@import './home/home.scss';
@import './footer.scss';
@import './pagination.scss';
@import './blog/blog-list-style.scss';
@import './blog/blog-detail-style.scss';
@import './category/category.scss';
@import './new/new.scss';
@import './novel/detail-page.scss';
@import './novel/tab-view.scss';
@import './novel/chapters.scss';
@import './novel/comments.scss';
@import './novel/read.scss';
@import './auth/auth.scss';
@import './account/account.scss';
@import './search/search.scss';
@import './review/review.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  // font-family: 'DM Serif Display', serif;
  // font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// DOT in Carousel
.ant-carousel {
  width: 100%;
  .custom-dot {
    bottom: -8px !important;
    margin: auto !important;
    li {
      button {
        background-color: #99adff !important;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #4d70ff !important;
        }
      }
    }
  }
}

// LOADING
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.15);
}

.wrapper-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap-content-page {
  padding-top: 64px;
}

.slick-track {
  margin-bottom: 1rem;
}
.custom-dots {
  bottom: -8px !important;
  margin: 0 !important;
  li {
    width: 20px !important;
    button  {
      height: 0px !important;
      &::before {
        content: '' !important;
        height: 16px !important;
        width: 16px !important;
        background-color: #cecac8;
        border-radius: 50%;
        border: 2px solid transparent;
        opacity: 1 !important;
      }
    }
    &.slick-active {
      width: 20px !important;
      button::before {
        background-color: #fff;
        border-color: var(--color-primary);
      }
    }
  }
}
.wrap-novel {
  padding: 0 .5rem;
}
.novel {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: $borderRadius;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: $boxShadow;
  &:hover {
    cursor: pointer;
    border-color: var(--color-primary);
  }
  .novel-image {
    height: 245px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.75);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: .15s ease-in-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .novel-divider {
        border-color: #fff;
        margin: .5rem auto;
      }
      .novel-title {
        color: #fff;
      }
    }
    &:hover {
      .overlay {
        visibility: visible;
        opacity: 1;
      }
    }
    .more-detail {
      color: var(--color-primary);
      margin-top: auto;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    .novel-brief {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
  .novel-rate {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
  }
  .novel-content {
    &:hover {
      .novel-title {
        color: var(--color-primary);
      }
    }
  }
  .novel-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .novel-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .novel-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon {
      margin-right: .5rem;
    }
  }
  .novel-tags-list {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .25rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-size: 10px;
    color: var(--color-white);
    max-width: 100%;
    .novel-tags-item {
      display: flex;
      background-color: rgba(0,0,0,.8);
      padding: 4px;
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
  .novel-timer {
    font-size: .8rem;
  }
  .novel-vote {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-yellow);
    margin-top: .5rem ;
    .list-star {
      margin-left: 8px;
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      gap: 2px;
      grid-auto-flow: column;
    }
    .star {
      position: relative;
      display: flex;
      align-items: center;
      .star-active {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        color: var(--color-yellow);
        overflow: hidden;
      }
    }
  }
  .novel-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #6a6b68;
    .footer-top {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .novel-follow {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    margin-top: .5rem;
    cursor: pointer;
    &:hover {
      span {
        opacity: .8;
      }
    }
    span {
      margin-right: .5rem;
    }
  }
}
.novel-kind {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  padding: .25rem .5rem;
  color: var(--color-white);
  border-bottom-right-radius: $borderRadius;
  font-size: 14px;
  &.blue {
    background-color: var(--color-blue);
  }
}

.novel-detail {
  display: flex;
  align-items: center;
  .novel-image {
    width: 220px;
    height: 295px;
    flex-shrink: 0;
    position: relative;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    overflow: hidden;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .novel-content {
    display: flex;
    flex-direction: column;
  }
  .novel-follow {
    display: flex;
    .novel-follow-item {
      margin-right: 1rem;
      display: flex;
      align-items: flex-end;
    }
    .caption {
      font-size: .8rem;
      color: var(--text-color-gray);
      margin-left: .5rem;
    }
  }
  .star {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-yellow);
    .star-active {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 100%;
      color: var(--color-yellow);
      overflow: hidden;
    }
  }
  .novel-description {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    .expand {
      color: var(--color-primary);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .novel-category {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: flex;
      padding: .25rem .5rem;
      border-radius: $borderRadius;
      border: 1px solid var(--color-gray);
      font-size: .8rem;
      margin-right: 1rem;
    }
  }
  .novel-actions {
    display: flex;
    align-items: center;
  }
  
}

.novel-suggest {
  display: flex;
  flex-direction: column;
  .novel-image {
    max-width: 100%;
    height: 245px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .novel-title {
    margin-top: .25rem;
  }
}

.novel-search {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .novel-title {
      color: var(--color-primary);
    }
  }
  .left {
    width: 3rem;
    flex-shrink: 0;
    margin-right: .5rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    flex: 1;
    min-width: 0;
  }
  .novel-title {
    margin-bottom: 0;
  }
  .novel-description {
    display: none;
    font-size: 80%;
  }
  .novel-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: none;
    font-size: 80%;
    .icon {
      margin-right: .5rem;
    }
  }
  .novel-vote {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-yellow);
    margin-top: 0;
    display: none;
    .list-star {
      margin-left: 8px;
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      gap: 2px;
      grid-auto-flow: column;
    }
    .star {
      position: relative;
      display: flex;
      align-items: center;
      .star-active {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        color: var(--color-yellow);
        overflow: hidden;
      }
    }
  }
}

.more {
  font-size: 13px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
  p {
    margin: 0 4px 0 0;
    font-weight: 600;
  }
}
.btn-common {
  display: flex;
  align-items: center;
  border-radius: $borderRadius;
  border: 1px solid var(--color-gray);
  &.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    border-color: var(--color-primary);
    &.outline {
      background-color: transparent;
      color: var(--color-primary);
    }
  }
}
.drop-lang {
  .ant-dropdown-menu {
    padding: 0;
    box-shadow: 0 2px 4px 1px #000;
    background-color: var(--bg-color-header);
  }
  .ant-dropdown-menu-item {
    background-color: var(--bg-color-header);
    &:hover, &.ant-dropdown-menu-item-selected {
      background-color: var(--color-primary-hover);
      opacity: 1;
      .item-drop-language{
        span {
          color: var(--color-primary);
        }
      }
    }
  }
}
.item-drop-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray);
  padding: .25rem 0;
  img {
    width: 40px;
    margin-right: .5rem;
  }
  span {
    color: var(--text-color-header);
  }
}


@media only screen and (max-width: 1024px)  {
  .novel-search {
    .novel-description {
      display: block;
    }
    .novel-view {
      display: flex;
    }
    .novel-vote {
      display: flex;
    }
  }
}