@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes/Theme.scss';
@import './themes/variables.scss';
@import './header.scss';
@import './sidebar.scss';
@import './home/home.scss';
@import './footer.scss';
@import './blog/blog-list-style.scss';
@import './blog/blog-detail-style.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  // font-family: 'DM Serif Display', serif;
  // font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// DOT in Carousel
.ant-carousel {
  width: 100%;
  .custom-dot {
    bottom: -8px !important;
    margin: auto !important;
    li {
      button {
        background-color: #99adff !important;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #4d70ff !important;
        }
      }
    }
  }
}

// LOADING
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

// PAGINATION
.pagination {
  text-align: center;
  margin-top: 10px !important;
}

.wrapper-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap-content-page {
  padding-top: 64px;
}

.slick-track {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  margin-bottom: 1rem;
  .slick-slide {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.novel {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: $borderRadius;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: $boxShadow;
  &:hover {
    cursor: pointer;
    border-color: var(--color-primary);
  }
  .novel-image {
    height: 245px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.75);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: .15s ease-in-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .novel-divider {
        border-color: #fff;
        margin: .5rem auto;
      }
      .novel-title {
        color: #fff;
      }
    }
    &:hover {
      .overlay {
        visibility: visible;
        opacity: 1;
      }
    }
    .more-detail {
      color: var(--color-primary);
      margin-top: auto;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    .novel-brief {
      font-size: 12px;
    }
  }
  .novel-rate {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
  }
  .novel-content {
    &:hover {
      .novel-title {
        color: var(--color-primary);
      }
    }
  }
  .novel-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .novel-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .novel-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon {
      margin-right: 1rem;
    }
  }
}