@import '~antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.css';


@import './themes/Theme.scss';
@import './themes/variables.scss';
@import './header.scss';
@import './sidebar.scss';
@import './home/home.scss';
@import './footer.scss';
@import './blog/blog-list-style.scss';
@import './blog/blog-detail-style.scss';
@import './category/category.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  // font-family: 'DM Serif Display', serif;
  // font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// DOT in Carousel
.ant-carousel {
  width: 100%;
  .custom-dot {
    bottom: -8px !important;
    margin: auto !important;
    li {
      button {
        background-color: #99adff !important;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #4d70ff !important;
        }
      }
    }
  }
}

// LOADING
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

// PAGINATION
.pagination {
  text-align: center;
  margin-top: 10px !important;
}

.wrapper-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap-content-page {
  padding-top: 64px;
}

.slick-track {
  margin-bottom: 1rem;
}
.custom-dots {
  bottom: -8px !important;
  margin: 0 !important;
  li {
    width: 20px !important;
    button  {
      height: 0px !important;
      &::before {
        content: '' !important;
        height: 16px !important;
        width: 16px !important;
        background-color: #cecac8;
        border-radius: 50%;
        border: 2px solid transparent;
        opacity: 1 !important;
      }
    }
    &.slick-active {
      width: 20px !important;
      button::before {
        background-color: #fff;
        border-color: var(--color-primary);
      }
    }
  }
}
.wrap-novel {
  padding: 0 .5rem;
}
.novel {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: $borderRadius;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: $boxShadow;
  &:hover {
    cursor: pointer;
    border-color: var(--color-primary);
  }
  .novel-image {
    height: 245px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.75);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: .15s ease-in-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .novel-divider {
        border-color: #fff;
        margin: .5rem auto;
      }
      .novel-title {
        color: #fff;
      }
    }
    &:hover {
      .overlay {
        visibility: visible;
        opacity: 1;
      }
    }
    .more-detail {
      color: var(--color-primary);
      margin-top: auto;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    .novel-brief {
      font-size: 12px;
    }
  }
  .novel-rate {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
  }
  .novel-content {
    &:hover {
      .novel-title {
        color: var(--color-primary);
      }
    }
  }
  .novel-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .novel-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .novel-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon {
      margin-right: .5rem;
    }
  }
  .novel-kind {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    padding: .25rem .5rem;
    color: var(--color-white);
    border-bottom-right-radius: $borderRadius;
    font-size: 14px;
  }
  .novel-vote {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-yellow);
    margin-top: .5rem ;
    .list-star {
      margin-left: 8px;
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      gap: 2px;
      grid-auto-flow: column;
    }
    .star {
      position: relative;
      display: flex;
      align-items: center;
      .star-active {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        color: var(--color-yellow);
        overflow: hidden;
      }
    }
  }
  .novel-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #6a6b68;
  }
}
.more {
  font-size: 13px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
  p {
    margin: 0 4px 0 0;
    font-weight: 600;
  }
}