.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color-header);
  color: var(--text-color-header);
  z-index: 999;
  width: 100%;
  height: 64px;
  transition: 0.5s all;
  box-shadow: 0 2px 4px 1px #000;
  // .list-menu {
  //   height: 100%;
  //   display: flex;
  // }

  .header-link {
    font-size: 16px;
    color: var(--text-color-header);
    font-weight: 500;
    margin: 0 10px;
    position: relative;
    height: 100%;
    text-decoration: none;

    &:before {
      content: '';
      width: 0;
      height: 2px;
      background-color: var(--color-primary);
      position: absolute;
      bottom: -7px;
      left: 0;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    &.active:before,
    &:hover:before {
      width: 100%;
    }
  }
  .list-menu-right {
    display: flex;
    align-items: center;
    .menu-right-item{
      margin-right: 1rem;
      &.auth {
        margin-right: 2rem;
      }
    }
    .btn-upload {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
      border-radius: $borderRadius;
      border: 0;
      padding: 0 .5rem;
      display: flex;
      align-items: center;
      &:hover {
        background-position: right bottom !important;
        border-color:#FFD100
      }
    }
    .search {
      max-width: 200px;
      position: relative;
      .input-search {
        border-radius: $borderRadius;
        // color: var(--color-dark-input);
        // background-color: var(--bg-color-dark-input);
        border: 0;
        .ant-input-clear-icon {
          color: var(--color-dark-input);
        }
      }
      &.active{
        // color: var(--color-dark-input);
        // background-color: var(--bg-color-dark-input);
        .menu-search {
          opacity: 1;
          visibility: visible;
        }
      }
      .menu-search {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .15s ease-in-out;
        max-width: 150%;
      }
      .item-search {
        padding: .5rem;
      }
    }
    .user-icon {
      font-size: 22px;
      cursor: pointer;
    }
    .dropdown-value {
      cursor: pointer;
      span {
        color: var(--color-white);
        white-space: nowrap;
      }
      &.img-only{
        height: 25px;
        width: 40px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      

    }
  }
}

.scroll-sticky {
  background-color: var(--bg-color-header);
  transition: 0.5s all;
  .header-link {
    color: var(--text-color-header);
    &:before {
      background-color: var(--color-primary);
    }
  }
}
@media screen and (max-width:1024px){
  .header{
    padding: 28px 15px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
