.sidebar {
  display: none;
  .search {
    position: absolute;
    display: flex;
    align-items: center;
    &.active {
      width: calc(100% - 100px);
      z-index: 99;
      .input-search {
        visibility: visible;
        input {
          visibility: visible;
        }
      }
    }
    .input-search {
      visibility: hidden;
      background-color: var(--bg-color-header);
      padding: 1rem;
      border: 0;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      &.ant-input-affix-wrapper-focused {
        box-shadow: none;
      }
      input {
        visibility: hidden;
        background-color: var(--bg-color-header);
        color: white;
      }
    }
    right: 75px;
    .icon {
      font-size: 22px;
      color: #fff;
    }
  }

  .menu-search {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 66px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .15s ease-in-out;
    height: calc(100vh - 66px);
    width: 100%;
    .item-search {
      padding: .5rem;
      border: 1px solid var(--color-gray1);
    }
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .sidebar {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--bg-color-header);
    min-height: 66px;
    display: flex;
    align-items: center;
    padding: 0 25px;
  }

  .sidebar .none-shadow {
    box-shadow: none;
  }

  .sidebar #nav-icon {
    position: absolute;
    right: 25px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 555;
    border-color: transparent;
    border-radius: 50%;
    width: 34px;
    padding: 7px 0px 5px 4px;
    background-color: transparent;
  }

  .sidebar #nav-icon:focus {
    outline: none;
  }

  .sidebar #nav-icon .wrap-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
  }

  .sidebar #nav-icon .wrap-icon span {
    width: 22px;
    height: 2px;
    display: block;
    background: #262626;
    transition: all 0.4s ease-in-out;
    background-color: var(--text-color-header);
  }

  .sidebar #nav-icon.open span:nth-child(1) {
    transform: translate(0, 6px) rotate(45deg);
    background-color: #262626;
  }

  .sidebar #nav-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .sidebar #nav-icon.open span:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
    background-color: #262626;
  }
}

body .btn-close-sidebar {
  border: none;
  box-shadow: unset;
  font-size: 20px;
  padding: 0;
}

body .ant-drawer-open {
  z-index: 1000;
}

body .ant-drawer-body {
  display: flex;
  flex-direction: column;
}

body .ant-drawer-body .header-link {
  background-color: #fff;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #595959;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

body .ant-drawer-body .group-link p {
  margin-bottom: 24px;
}

body .ant-drawer-body .group-button .btn-get-app {
  background-color: #060303;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 135px;
}

body .ant-drawer-body .ant-divider {
  background-color: #e8e8e8 !important;
}

body .ant-drawer-body .icon {
  margin-right: 22px;
}

body .sidebar-collapse {
  margin-bottom: 24px;
}

body .sidebar-collapse .ant-collapse-item {
  border: none;
}

body .sidebar-collapse .ant-collapse-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #595959 !important;
  padding-left: 0 !important;
  background-color: #fff !important;
  padding-bottom: 24px;
}

body .sidebar-collapse .sub-menu {
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  font-weight: normal;
  text-transform: lowercase;
}
body .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: #fff;
}

body .ant-drawer-footer {
  padding: 0;
  border: none;
}

body .ant-drawer-header {
  border-bottom: none;
  padding: 32px 24px 8px 24px;
}
