.privacy-policy {
  padding: 137px 153px;
  counter-reset: item;
  .heading {
    font-size: 49px;
    font-weight: 600;
    color: #000;
    margin-bottom: 104px;
  }
  .heading-2 {
    font-size: 49px;
    font-weight: 600;
    color: #000;
    margin-bottom: 28px;
  }
  .title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 56px;
    color: #000;
    margin-bottom: 23px;
  }
  .title-2 {
    font-size: 22px;
    // font-weight: 500;
    margin-top: 28px;
    color: #000;
    margin-bottom: 23px;
  }
  .text-18 {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-bottom: 23px;
  }
  .text-18-bold {
    font-weight: 600;
  }
  .text-22-bold {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 16px;
    display: inline-block;
  }
  .my-47 {
    margin: 47px 0;
  }
  ol {
    padding-left: 20px;
  }
  li {
    display: block;
  }
  li:before {
    content: counters(item, '.') '. ';
    counter-increment: item;
    font-size: 18px;
    margin-right: 4px;
    min-width: 30px;
    text-align: right;
  }
  .subs-tag {
    counter-reset: childSection;
    li {
      &:last-child {
        margin-bottom: 23px;
      }
    }
  }
  .subs-tag li,
  .subs-tag-bold li {
    margin-bottom: 14px;
  }
  .subs-tag li:before {
    content: counter(childSection, lower-alpha) '. ';
    counter-increment: childSection;
    font-size: 18px;
    font-weight: 300;
    min-width: none;
  }
  .subs-tag-bold li:before {
    content: counter(childSection, lower-alpha) '. ';
    counter-increment: childSection;
    font-size: 18px;
    font-weight: 600;
  }
  .ml-3 {
    margin-left: 16px;
  }
  .mb-47 {
    margin-bottom: 47px;
  }
  .my-23 {
    margin: 23px 0;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  p {
    margin: 0;
  }
  @media screen and(max-width:768px) {
    padding: 60px 16px;
    // .heading {
    //   font-size: 24px;
    //   margin-bottom: 16px;
    // }
    .title {
      font-size: 20px;
      margin: 16px 0;
    }
    .title-2 {
      font-size: 20px;
      margin: 16px 0;
    }
    .text-18 {
      font-size: 14px;
    }
    .text-22-bold {
      font-size: 16px;
    }
    li:before {
      font-size: 14px;
      min-width: 20px;
    }
    .subs-tag li:before {
      font-size: 14px;
    }
    .subs-tag-bold li:before {
      font-size: 14px;
    }
    ol {
      padding-left: 16px;
    }
    .my-47 {
      margin: 16px 0;
    }
    .mb-47 {
      margin-bottom: 16px;
    }
  }
  @media screen and(max-width:576px) {
    ol {
      padding-left: 4px;
      &.subs-tag {
        padding-left: 16px;
      }
    }
  }
}
